.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--main);
  height: 60px;
  padding: 0 30px;
  box-shadow: 0 8px 7px rgba(167, 130, 227, 0.71);
}

.headerBtn {
  appearance: none;
  background: transparent;
  border: none;
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: 12px 6px;
}

.btnsContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 80px;
}
