.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--main);
  height: 60px;
  padding: 0 30px;
  box-shadow: 0 8px 7px rgba(167, 130, 227, 0.71);
}

.headerBtn {
  appearance: none;
  background: transparent;
  border: none;
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: 12px 6px;
}

.btnsContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 80px;
}

.userAvatar {
  cursor: pointer;
}

.userMenu {
  position: absolute;
  z-index: 1;
  right: 18px;
  width: 60px;
  height: 40px;
  background: var(--white);
  display: flex;
  justify-content: center;
  border-radius: 6px;
}

.logout {
  background: transparent;
  cursor: pointer;
  border: none;
  color: #7b52be;
}
