.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  color: #fff;
  background: #8252d0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
