@mixin font($font-family, $font-path, $font-style, $font-weight) {
  @font-face {
    font-weight: $font-weight;
    font-family: $font-family;
    font-style: $font-style;
    font-display: swap;
    src: url('#{$font-path}.woff2') format('woff2'), url('#{$font-path}.woff') format('woff');
  }
}

@include font('Roboto', '/fonts/Roboto100', normal, 100);
@include font('Roboto', '/fonts/Roboto300', normal, 300);
@include font('Roboto', '/fonts/Roboto400', normal, 400);
@include font('Roboto', '/fonts/Roboto500', normal, 500);
@include font('Roboto', '/fonts/Roboto700', normal, 700);
@include font('Roboto', '/fonts/Roboto900', normal, 900);
@include font('Roboto', '/fonts/Roboto100Italic', italic, 100);
@include font('Roboto', '/fonts/Roboto300Italic', italic, 300);
@include font('Roboto', '/fonts/Roboto400Italic', italic, 400);
@include font('Roboto', '/fonts/Roboto500Italic', italic, 500);
@include font('Roboto', '/fonts/Roboto700Italic', italic, 700);
@include font('Roboto', '/fonts/Roboto900Italic', italic, 900);
